<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrapCSS/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {#<link rel="stylesheet" href="{{ asset('dist/styles') }}">#}

    {% endblock %}

    {% block stylesheets2 %}{% endblock %}

</head>

<body>

{% block header %}{% include ":default:header.html.twig" %}{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/Jquery/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/Popper/popper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrapJS/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

    {#<script type="text/javascript" src="{{ asset('dist/script.js') }}"></script>#}

{% endblock %}

{% block javascripts2 %}{% endblock %}

</body>
</html>



